body {
  font-family: var(--mainfont);
}

/*start header section*/
.header {

  padding: 57px 0;

}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.list a {
  color: #0D0E43;
}

.list .active {
  color: var(--maincolor);

}

.header .bars {
  display: none;
}




.search form {
  border: 2px solid #E7E6EF;
  border-radius: 5px;

}

.search input {
  border: none;
  outline: none;
  width: 250px;
  padding-left: 9px;

}

.search button {
  border: none;
  outline: none;
  background-color: var(--maincolor);
  padding: 8px 13px;

}

@media screen and (max-width:1200px) {

  .header .list,
  .header .search {
    display: none;
  }

  .header .bars {
    display: block;
  }
}

/*end header*/




/*start hero*/

.hero {
  background-color: #F2F0FF;
  padding: 50px 0;

}

.hero .hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  flex: 1 0 60%;
}

.hero .hero-lamp {
  position: relative;
  bottom: 60px;
  left: -81px;
  width: 25%;

}



.hero .text-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding-top: 80px;

}

.hero-content .hero-para {
  color: #8A8FB9;
}

.hero .hero-img {
  flex: 1 0 30%;
}

.hero .hero-img img {
  width: 100%;
}

@media screen and (max-width:1300px) {
  .hero .hero-lamp img {
    display: none;
  }
}

@media screen and (max-width:640px) {

  .hero .hero-content,
  .hero .hero-img {
    width: 100%;
  }

  .hero .hero-img {
    display: none;
  }

}







/*end hero*/


/*start products*/
.featured-products {
  padding: 50px 0;
}

.featured-products h2 {
  margin-bottom: 30px;
  font-size: 42px;
  color: #1A0B5B;
}

.featured-products .row {
  justify-content: flex-start;
  gap: 15px;
}

.featured-products .product {
  flex: 1 0 200px;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 4px;
}

.featured-products .product .img {
  background-color: #F6F7FB;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.featured-products .product img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.img .viewbtn {
  color: #fff;
  background-color: #08D15F;
  width: 94px;
  height: 29px;
  border-radius: 2px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 10px;
  left: 90px;
  padding: 5px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 0;
  transition: all 0.5s;
  opacity: 0;

}

.img .icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  position: absolute;
  top: 12px;
  left: 8px;
  transition: all 0.5s;
  opacity: 0;
}

svg {
  fill: #1389FF;

}

svg:active {
  fill: #2F1AC4;
  background: #EEEFFB;
  padding: 2px;
  border-radius: 50%;

}

.featured-products .products-details {
  gap: 10px;
  padding: 10px;
  transition: all 0.5s;
}

.featured-products .product h3 {
  color: var(--maincolor);
  transition: all 0.5s;
}

.color-options .color {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.color-options .color-one {
  background-color: #05E6B7;
}

.color-options .color-two {
  background-color: var(--maincolor);
}

.color-options .color-three {
  background-color: #00009D;
  transition: all 0.5s;
}

.featured-products .products-info {
  gap: 10px;
  color: #151875;
  transition: all 0.5s;
}

.product:hover .img .icon {
  opacity: 1;
}

.product:hover .img .viewbtn {
  opacity: 1;
}

.product:hover .products-details {
  background-color: #2F1AC4;
}

.product:hover .products-details h3 {
  color: #fff;
}

.product:hover .products-details .color-three {
  background-color: #FFEAC1;
}

.product:hover .products-details .products-info {
  color: #fff
}

/*end products*/




/* start leatest-products*/

.leatest-products {
  padding: 50px 0;
}

.leatest-products h2 {
  font-size: 42px;
  color: #151875;
  padding-bottom: 20px;
}
.leatest-products .bars{
 display: none;
}

.products-links {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 60px;
}
.products-links a:focus{
  color: var(--maincolor);
  text-decoration: underline;
}


.leatest-products .row {
  justify-content: flex-start;
  gap: 15px;
}

.leatest-products .leatest-product {
  width: 250px;
  height: 250px;
  width: calc((100% - 45px) / 3);
  position: relative;
  
  
}

.leatest-products .leatest-product .icon {
  
  position: absolute;
  bottom: 70px;
  left: 10px;
  gap: 10px;
  transition: all 0.5s;
  opacity: 0;
}
 
.leatest-product:hover .icon {
  opacity: 1;
}

.product-image {
  background-color: #EEEFFB;
} 

.product-image img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.sale-img {
  position: absolute;
  top: 0;
  left: -10px;
  z-index: 1;
  
}
.product-information {
  padding: 10px 0;
  gap: 85px;
  font-size: 15px;

}

.product-information h3 {
  color: #151875;
}

.product-information .span {
  gap: 20px;
  font-size: 14px;
}

.new-price {
  color: #151875;
}

.old-price {
  color: #FB2448;
  text-decoration: line-through;
}


@media screen and (max-width:992px) {

  .leatest-products .leatest-product {
  width: calc((100% - 30px) / 2);
}
  .products-links{
    display: none;
  }
  .leatest-products .bars{
    display: inline;
  }
}
@media screen and (max-width:680px) {
    .leatest-products .leatest-product {
  width: 100%;
}
}

/*end leatest-products*/




/*start newslater*/
.newslater {
  background-image: url('../img/public/Rectangle\ 102.webp');
  padding: 175px 0;
  text-align: center;
}

.newslater h2 {
  margin-bottom: 30px;
  color: #151875;
  font-size: 35px;
}

.shop-btn {
  transition: all 0.5s;
}

.shop-btn:hover {
  background-color: #151875;
}

/*end newslater*/




/*start clients*/
.clients {
  padding: 50px 0;

}

.clients .row {
  flex-wrap: nowrap;
  gap: 15px;
  overflow: auto;
}

.clients .logo {
  width: calc((100% - 60px) / 5);
}

.clients img {
  width: 200px;
  height: 120px;
}

@media screen and (max-width:1120px) {

  .clients .logo {
    width: calc((100% - 15px) / 2);
  }
}

/*end clients*/




/* stert footer*/
.footer {
  background-color: #EEEFFB;
  padding: 40px 0;
}

.footer .left-side {
  width: calc((100% - 15px) / 2);
  gap: 30px 0;
  align-items: flex-start;
}

form {
  display: flex;
}

form .signup {
  color: #EEEFFB;
}

.left-side .contact {
  color: #8A8FB9;
}

.footer .right-side {
  width: calc((100% - 15px) / 2);

}

nav a {
  color: #8A8FB9;
}

.footer .right-side .row {
  gap: 5px;
  align-items: flex-start;
}

.footer-item {
  width: calc((100% - 10px) / 3);
}

@media screen and (max-width: 1340px) {


  .footer .left-side,
  .footer .right-side {
    width: 100%;
  }
}

@media screen and (max-width:576px) {
  .footer {
    text-align: center;
  }

  .footer-item {
    width: 100%;
  }
}

/* end footer*/