body {
  font-family: var(--mainfont);
}

/*start header section*/
.header {

  padding: 57px 0;

}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.list a {
  color: #0D0E43;
}

.list .active {
  color: var(--maincolor);

}

.header .bars {
  display: none;
}




.search form {
  border: 2px solid #E7E6EF;
  border-radius: 5px;

}

.search input {
  border: none;
  outline: none;
  width: 250px;
  padding-left: 9px;

}

.search button {
  border: none;
  outline: none;
  background-color: var(--maincolor);
  padding: 8px 13px;

}

@media screen and (max-width:1200px) {

.header .list,.header .search {
    display: none;
  }

  .header .bars {
    display: block;
  }
}

/*end header*/

/*start newslater*/
.newslater{
  background-image: url('../img/public/Rectangle\ 102.webp');
  padding: 175px 0;
  text-align: center;
}
.newslater h2{
  margin-bottom: 30px;
  color: #151875;
  font-size: 35px;
}
.shop-btn{
  transition: all 0.5s;
}
.shop-btn:hover{
  background-color: #151875;
}

/*end newslater*/
/*start clients*/
.clients{
  padding: 50px 0;

}
.clients .row{
  flex-wrap: nowrap;
  gap: 15px;
  overflow: auto;
}
.clients .logo{
  width: calc((100% - 60px) / 5);
}
.clients img{
 width: 200px;
 height: 120px;
}
@media screen and (max-width:600px) {

  .clients .logo{
    width: calc((100% - 15px) / 2);
  }
}

/*end clients*/
/* stert footer*/
.footer {
  background-color: #EEEFFB;
  padding: 40px 0;
}

.footer .left-side {
  width:calc((100% - 15px) / 2);
  gap: 30px 0;
  align-items: flex-start;
}
form{
  display: flex;
}
form .signup {
  color: #EEEFFB;
}

.left-side .contact {
  color: #8A8FB9;
}

.footer .right-side {
  width:calc((100% - 15px) / 2);
  
}

nav a {
  color: #8A8FB9;
}
.footer .right-side .row{
  gap: 5px;
  align-items: flex-start;
}
.footer-item{
  width: calc((100% - 10px) / 3);
}

@media screen and ( max-width: 1340px ) {


  .footer .left-side , .footer .right-side {
    width: 100%;
  }
}
@media screen and (max-width:576px){
  .footer{
    text-align: center;
  }
  .footer-item{
    width: 100%;
  }
}
/* end footer*/